#titulo{
    text-align: center;
}
*{
    margin:0px;
    padding:0px;
}
div#margenTitulo{
    margin:auto;
    margin-top: 50px;
    width:900px;
    height: 39px;
    background-color: E2FF9E;
}
div#textoSub1 {
   
    margin: 510px;
    margin-top: 5px;
    width: 450px;
    height: 250px;
    background-color: FF9E9E;   
}

.imagen{
    
    margin-top: -750px;
    margin-left: 965px;
    
}
div#textoSub2 {
   
    margin: 962px;
    margin-top: 10px;
    width: 450px;
    height: 250px;
    background-color: 9EFFEA;   
}
.imagen1{
    
    margin-top: -1213px;
    margin-left: 510px;
}
.imagen2{
    margin-top: -145px;
    margin-left: 745px;
    
}
div#textoSub3 {
   
    margin: 511px;
    margin-top: 6px;
    width: 450px;
    height: 250px;
    background-color: D3A1FC;   
}
.imagen3{
    margin-top: -757px;
    margin-left: 979px;
}