*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.paisaje{
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
}
.casa{
    position: absolute;
    top: 40%;
    left: 70%;
    width: 500px;
    height: auto;
}
.contenedor{
    position: relative;
}
.sol{
    position: absolute;
    width: 300px;
    height: auto;
    left: 70%;
    animation: opacidad 35s ;
}
@keyframes opacidad {
    0% {
        opacity: 0.5;
    }
    50%{
        opacity: 0.5;
    }
      
    100% {
        opacity: 1; 
      }
}
.nube{
    position: absolute;
    width: 400px;
    height: auto;
    top: 130px;
    transform: translate(-100%, -50%); 
    animation: moverImagen 20s forwards;
    animation-delay: 8s; 
}
@keyframes moverImagen {
    0% {
      right: -100%; 
    }
    40% {
      right: 30%; 
    }
    60% {
      right: 30%; 
    }
    100% {
      right: 100%; 
    }
  }
  .gotas{
    position: absolute;
    width: 400px;
    height: 500px;
    top: 180px;
    left: 550px;
    animation: appear 5s linear forwards, gotas 3s linear infinite ;
    animation-delay: 15s;
    opacity: 0;
  }
  @keyframes appear {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
  }
  @keyframes gotas {
    0%{
        top: 180;
    }
    100%{
        top: 300px;
    }

  }
  .flor{
    position: absolute;
    width: 200px;
    height: auto;
    left: 740px;
    top: 650px;
    transform: translate(-50%); 
    animation: moverImagen1 5s forwards;
    animation-delay: 19s;
    opacity: 0;
}
@keyframes moverImagen1 {
    0% {
      top: 1500px; 
    }
    100% {
      top: 650px; 
      opacity: 1;
    }
  }
.numero3{
  position: absolute;
  width: 100px;
  height: auto;
  left: 50%;
  top: 650px;
  animation: opacidad1 2s forwards ;
  opacity: 0;
}
@keyframes opacidad1 {
  0% {
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
    
  100% {
      opacity: 0; 
    }
}                                                                                                                                                                                                                                                                                                            
.numero2{
  position: absolute;
  width: 100px;
  height: auto;
  left: 50%;
  top: 650px;
  animation: opacidad2 2s forwards ;
  animation-delay: 2s;
  opacity: 0;
}
@keyframes opacidad2 {
  0% {
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
    
  100% {
      opacity: 0; 
    }
}
.numero1{
  position: absolute;
  width: 100px;
  height: auto;
  left: 50%;
  top: 650px;
  animation: opacidad3 2s forwards ;
  animation-delay: 4s;
  opacity: 0;
}
@keyframes opacidad3 {
  0% {
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
    
  100% {
      opacity: 0; 
    }
}
.accion{
  position: absolute;
  width: 300px;
  height: auto;
  left: 45%;
  top: 600px;
  animation: opacidad4 2s forwards ;
  animation-delay: 6s;
  opacity: 0;
}
@keyframes opacidad4 {
  0% {
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
    
  100% {
      opacity: 0; 
    }
}