.miflex {
  display: flex;
  flex-wrap: wrap; /* Añadido para que los elementos se envuelvan en dispositivos móviles */
}

.miflex div {
  background-color: #DAF7A6;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  box-sizing: border-box; /* Añadido para que el padding no afecte el tamaño total */
  justify-content: space-between;
}

h1 {
  text-align: center;
}

.avion{
  width: 500px;
  height: auto;
}