@font-face {
    font-family:'OpenSans, regular';
    src: url('./font/OpenSans-Regular.ttf') format(truetype);
}
@font-face {
    font-family:'OpenSans, Semibold';
    src: url(./font/OpenSans-SemiBold.ttf) format(truetype);
}
.fondoBlanco{
    position: relative;
    background-color: white;
    width: 1920px;
    height: 1080px;
    
}
.fondoNegro{
    position: absolute;
    background-color: black;
    top: -8px;
    left: 1758px;
    width: 160px;
    height: 1095px;
}
.metrolinea{
    position: absolute;
    width: 250px;
    height: 55px;
    top: 43px;
    left: 43px;
}
.compras{
    position: absolute;
    top: 40px;
    right: 210px;
    width: 44px;
    height: 44px;
    cursor: pointer;
}
.lupa{
    position: absolute;
    top: 40px;
    right: 370px;
    width: 44px;
    height: 44px;
    cursor: pointer;
}
.saldo{
    position: absolute;
    top: 40px;
    right: 440px;
    font-size: 36px;
    font-family: 'OpenSans, regular';
    text-decoration: none;
    color: black;
}

.tarjeta{
    position: absolute;
    top: 40px;
    right: 650px;
    font-size: 36px;
    font-family: 'OpenSans, regular';
    text-decoration: none;
    color: black;
}
.line{
    position:absolute;
    height: auto;
    right: 713px;
    top: 105px;
    
}
.tmetro{
    position:absolute;
    width: 1100px;
    height: auto;
    top: 150px;
    left: 200px;
}
.saltot{
    position: absolute;
    top: 850px;
    left: 60px;
    font-size: 50px;
    font-family: 'OpenSans, Semibold';
    text-align: left;
}